---
import BaseLayout from "@/layouts/BaseLayout.astro";
import ImageGallery from "@/components/ImageGallery.astro";
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { id: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);

const postDir = `blog/${post.id}`;
---

                <BaseLayout title={post.data.title} description={post.data.description ?? ''}>
                  <section class="container grid grid-cols-1 md:grid-cols-[250px_1fr] gap-8 pt-6 pb-8 md:py-10">

                    <aside class="p-4 rounded-md">
                      <h2 class="text-xl font-semibold mb-4">Back to Home</h2>
                      <a href="/" class="text-blue-600 hover:underline">← All Posts</a>
                    </aside>

                    <article class="prose max-w-[980px] dark:prose-invert">
                      <h1 class="text-3xl font-bold mb-4">{post.data.title}</h1>
                      <Content />

                      <ImageGallery imageFolder={postDir} />
                    </article>

                  </section>
                </BaseLayout>
